<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/mendix/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="MarcellVanRooyen" />
            <add key="ClearTextPassword" value="05df8ec67892afe1d18006c6c53962ebc265db8a" />
        </github>
    </packageSourceCredentials>
</configuration>